In [1]:
'''1) Data Wrangling, I 
Perform the following operations using Python on any open source dataset (e.g., data.csv) 
1. Import all the required Python Libraries. 
2. Locate open source data from the web (e.g., https://www.kaggle.com). Provide a clear 
description of the data and its source (i.e., URL of the web site). 
3. Load the Dataset into pandas dataframe. 
4. Data Preprocessing: check for missing values in the data using pandas isnull(), describe() 
function to get some initial statistics. Provide variable descriptions. Types of variables etc. 
Check the dimensions of the data frame. 
5. Data Formatting and Data Normalization: Summarize the types of variables by checking the 
data types (i.e., character, numeric, integer, factor, and logical) of the variables in the data set. 
If variables are not in the correct data type, apply proper type conversions. 
6. Turn categorical variables into quantitative variables in Python. 
 
In addition to the codes and outputs, explain every operation that you do in the above steps and explain 
everything that you do to import/read/scrape the data set. '''

'1) Data Wrangling, I \nPerform the following operations using Python on any open source dataset (e.g., data.csv) \n1. Import all the required Python Libraries. \n2. Locate open source data from the web (e.g., https://www.kaggle.com). Provide a clear \ndescription of the data and its source (i.e., URL of the web site). \n3. Load the Dataset into pandas dataframe. \n4. Data Preprocessing: check for missing values in the data using pandas isnull(), describe() \nfunction to get some initial statistics. Provide variable descriptions. Types of variables etc. \nCheck the dimensions of the data frame. \n5. Data Formatting and Data Normalization: Summarize the types of variables by checking the \ndata types (i.e., character, numeric, integer, factor, and logical) of the variables in the data set. \nIf variables are not in the correct data type, apply proper type conversions. \n6. Turn categorical variables into quantitative variables in Python. \n \nIn addition to the codes and outputs, explain every operation that you do in the above steps and explain \neverything that you do to import/read/scrape the data set. '

In [2]:
#1. Import all the required Python Libraries. 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#2. te open source data from the web (e.g., https://www.kaggle.com). 
#Provide a clear description of the data and its source (i.e., URL of the web site).ipynb_checkpoints/
url = 'C:\\Users\\Purvesh\\Desktop\\delete\\DS\\BostonHousing.csv'
#3. Load the Dataset into pandas dataframe
data = pd.read_csv(url)

In [4]:
data.head(3)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [5]:
#Data Preprocessing: check for missing values in the data using pandas isnull(), describe() function to get some initial statistics.
#Provide variable descriptions. Types of variables etc. 
#Check the dimensions of the data frame.
data.isnull().sum().sum()

5

In [6]:
data.fillna(0,inplace=True)

In [7]:
data.isnull().sum().sum()

0

In [8]:
data.describe()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.069170,0.554695,6.222243,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.253994,0.115878,0.938125,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,0.000000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.000000,0.449000,5.877250,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.000000,0.538000,6.194000,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.000000,0.624000,6.618750,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [9]:
data.dtypes

crim       float64
zn         float64
indus      float64
chas         int64
nox        float64
rm         float64
age        float64
dis        float64
rad          int64
tax          int64
ptratio    float64
b          float64
lstat      float64
medv       float64
dtype: object

In [10]:
data.shape

(506, 14)

In [11]:
'''5. Data Formatting and Data Normalization: 
Summarize the types of variables by checking the data types (i.e., character, numeric, integer, factor, and logical) 
of the variables in the data set. 
If variables are not in the correct data type, apply proper type conversions. '''
data['price'] = np.random.choice(['high','low'],size=len(data))
data.head(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv,price
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0,low
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6,high
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7,low
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4,low
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2,low

In [12]:
data['age'].astype('int64')

0      65
1      78
2      61
3      45
4      54
       ..
501    69
502    76
503    91
504    89
505    80
Name: age, Length: 506, dtype: int64

In [13]:
data['price'] = data['price'].astype('category')

In [14]:
data.dtypes

crim        float64
zn          float64
indus       float64
chas          int64
nox         float64
rm          float64
age         float64
dis         float64
rad           int64
tax           int64
ptratio     float64
b           float64
lstat       float64
medv        float64
price      category
dtype: object

In [15]:
data['price'] = data['price'].map({'high':True,'low':False})
data['price'].astype('bool')

0      False
1       True
2      False
3      False
4      False
       ...
501     True
502     True
503    False
504    False
505     True
Name: price, Length: 506, dtype: bool