In [2]:
'''
2.) Data Wrangling II 
Create an “Academic performance” dataset of students and perform the following operations using 
Python. 
 
1. Scan all variables for missing values and inconsistencies. 
If there are missing values and/or inconsistencies, use any of the suitable techniques to deal with them. 
2. Scan all numeric variables for outliers. If there are outliers, use any of the suitable techniques to deal with them. 
3. Apply data transformations on at least one of the variables. 
The purpose of this transformation should be one of the following reasons: 
to change the scale for better understanding of the variable, 
to convert a non-linear relation into a linear one, 
or to decrease the skewness and convert the distribution into a normal distribution. 
 
Reason and document your approach properly. '''
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
id = np.arange(1,21)
testscore = np.random.randint(40,101)
#study = np.random.choice(['never','sometimes','always'], size=20)

academicPerformace = pd.DataFrame({'Student_ID':id,
                                   'TestScore':testscore})

academicPerformace['Study'] = np.where(academicPerformace['TestScore']>75,'Always','Never')
academicPerformace['cheating'] = np.where(academicPerformace['Study']=='never',True,False)
academicPerformace.head(5)

   Student_ID  TestScore   Study  cheating
0           1         95  Always     False
1           2         95  Always     False
2           3         95  Always     False
3           4         95  Always     False
4           5         95  Always     False

In [5]:
new_row = {'Student_ID': 22, 'TestScore': None, 'Study': 'Never', 'cheating': True}
new_row_df = pd.DataFrame([new_row])

academicPerformace = pd.concat([academicPerformace, new_row_df], ignore_index=True)

In [8]:
new_row = {'Student_ID': 21, 'TestScore': 1000, 'Study': 'Never', 'cheating': True}
new_row_df = pd.DataFrame([new_row])
academicPerformace = pd.concat([academicPerformace, new_row_df], ignore_index=True)

In [9]:
academicPerformace = academicPerformace.drop(academicPerformace.index[-1])
academicPerformace.tail(5)

    Student_ID TestScore   Study  cheating
17          18        95  Always     False
18          19        95  Always     False
19          20        95  Always     False
20          22      None   Never      True
21          22      None   Never      True

In [6]:
academicPerformace.isnull().sum()
#= academicPerformace.drop(academicPerformace.isnull())

Student_ID    0
TestScore     1
Study         0
cheating      0
dtype: int64

In [7]:
academicPerformace.fillna(71,inplace=True)

In [8]:
academicPerformace.tail(5)

    Student_ID  TestScore   Study  cheating
16          17        100  Always     False
17          18        100  Always     False
18          19        100  Always     False
19          20        100  Always     False
20          22         71   Never      True

In [11]:
academicPerformace['TestScore'].max()

100